body{
    background: url("https://wallpapertag.com/wallpaper/full/8/4/6/653852-star-wars-background-wallpaper-1920x1080-large-resolution.jpg");
}





.theHeader{
    text-align: center;
}
.theHeader,
.characterPics{
    color: white;
}