@font-face{
    font-family:"starwars";
    src: url('../fonts/StarWarsFont.ttf');
}

img{
    width: 175px;
    height: 175px;
    border: solid;
    border-color: green;
    
}

body{
    background: url("https://wallpapertag.com/wallpaper/full/8/4/6/653852-star-wars-background-wallpaper-1920x1080-large-resolution.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainHeader{
    text-align: center;
    font-family:"starwars";
    font-size: larger;
    color: gold;
    border-style: solid;
    background-color: black;
}

.secondaryHeader,
#attackText,
#counterText
{
    color: gold;
    font-family:"starwars";
}


.darthMaul,
.sid,
.luke,
.obi{
    width: 175px;
    position: relative;
    text-align: center;
    font-family:"starwars";
    font-weight: lighter;
    display: block;
    object-position: top;
    border: solid;

    color:black; 
    background:white;
    border-color: green;
}



.darthMaulHealth,
.sidHealth,
.lukeHealth,
.obiHealth{
    width: 175px;
    position: relative;
    text-align: center;
    font-family:"starwars";
    font-weight: lighter;
    display: block;
    object-position: bottom;
    border: solid;

    color:black; 
    background-color:white;
    border-color: green;
    
    

}

#kenobi,
#skywalker,
#sidious,
#maul,
#kenobiEnemy,
#skywalkerEnemy,
#sidiousEnemy,
#maulEnemy
{
    display: inline-block;

}


